{% block content %} 


	<header>

    <h1>Jorn de Vries</h1>

  </header>

  <footer>

    <ul class="social">
      <li><a href="http://www.twitter.com/jorn_de_vries">Twitter</a></li>
      <li><a href="http://nl.linkedin.com/pub/jorn-de-vries/">LinkedIn</a></li>
      <li><a href="http://www.flitsmeister.nl">Flitsmeister</a></li>
      <li><a href="http://www.govisual.nl">GoVisual</a></li>
      <li><a href="http://www.footballshop.nl">Football Shop</a></li>
    </ul>

  </footer>



{% endblock %}